/*reset*/
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
  }
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
ol, ul {
    list-style: none;
  }
  
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px;
}
img:hover {
background-color: var(--c4);
cursor: pointer;
box-shadow: 0 0.4rem 1.4rem 0;
transition: 150ms;
transform: scale(1.10);
border: 0;
}
/* creates var at root of document- look here first- as will code.*/

:root {
--fw-300:300;
--fw-500:500;
--c1: #240e28;
--c2: #521a4a;
--c3: #d8247c;
--c4: #25a9f0;
--c5:#ffffff;
}

/* body elements, use var rather than actual values */
body{
    color-scheme: var(--c1),var(--c2),var(--c3),var(--c4);
    background-color: var(--c1); 
    font-family: Quicksand, Helvetica, Arial, sans-serif;
    color:var(--c4)
}

/*Header nav menu-items make up the menu bar across the top*/
header { 
    display: flex;
    font-weight: var(--fw-500);
    max-width: fit-content;
}
nav {
    justify-content:space-between;
    flex-direction: column;
    min-height:3.3vh;
    min-width:100vw; 
    background-color: var(--c1);
    align-content: center;
}

/*button settings*/
menu{
    display: flex;
    justify-content: space-evenly;
    padding: auto;
    color: var(--c4);
}
button{
    background-color: var(--c3);
    font-size: var(--fw-500);
    min-height: 3vw;
    min-width: 15vw; 
    box-shadow: none;
    border-radius: 5px;

}
/*Start main topics*/
#coding,
#management,
#about-me,
#contact
{
font-weight: var(--fw-300);
display:flexbox;
flex-basis: 70%;
background-color: var(--c1);
border-radius: 5px;
}

main {
    display:flex;
    max-height: 100%;
    max-width:100%;
    
}
.mainc {
    background-color: var(--c2);
    display: flexbox;
    flex-wrap: wrap;
    border-radius: 5px;

}
section{
    display: flex;
    min-height: 10vh;
    min-width: 40vw;
    margin: .5rem;
    flex-wrap: wrap;

    
}
/*aside right side*/
aside {
    display:flexbox;
    min-width: 25%;
    margin: 1rem;
    background-color: var(--c1);
    flex-direction: column;
    justify-content: center;
    line-height: 20px; 
    

}
/*Footer*/
footer{
    display:flex;
    justify-content:center;
    min-height:3.3vw;
    min-width:10vw; 
    background-color: var(--c2);
    align-content: center;
    position: relative;
    border-radius: 5px;

}
/*Screen Size Media Query and specific images*/ 
@media(max-width:800px) {
    main{
        flex-direction: column;
    }
}
img[src="BenOrlowskiPicture.png"] {
    max-width: 50%;
    max-height: 50%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px;
}