/* creates var at root of document- look here first- as will code.*/
/* class for general and id= for single lie only. semantics include */

:root {
--fw-300:300;
--fw-500:500;
--c1: #008891;
--c2: #00587a;
--c3: #0F3057;
--c4: #D9D9D9;
}

/* body elements, use var rather than actual values */


body{
    color-scheme: var(--c1),var(--c2),var(--c3),var(--c4);
    background-color: var(--c4); 
    font-family: Quicksand, Helvetica, Arial, sans-serif;
    display: flex;
    flex-flow: column;
    flex-direction: column;
    flex-wrap:wrap;
    flex:auto;
    
    }



/*Header nav menu-items make up the menu bar across the top*/
header { 
    overflow: auto;
    display: flex;
    font-weight: var(--fw-500);
    color: var(--c2); 
}
nav {
    display:flexbox;
    justify-content:space-between;
    flex-direction: column;
    min-height:3.3vw;
    min-width:100vw; 
    background-color: var(--c2);
    align-content: center;
    position: relative;
}
/*button settings- very janky*/
menu{
    display: flex;
    justify-content: space-evenly;
    padding: auto;
}
button{
    background-color: var(--c1);
    font-size: var(--fw-500);
    min-height: 3vw;
    min-width: 15vw; 
    text-decoration-color: var(--c4);
    box-shadow: none;
}

/*Start main topics*/
main{
    display:contents;
    flex-wrap: wrap;
    flex-direction:column;
    -ms-flex-line-pack: stretch;

    

}    
.mainc{
    flex-flow: wrap;
    display: flex;
    -ms-flex-line-pack: stretch;
}
#coding,
#management,
#about-me,
#contact{
font-weight: var(--fw-300);
display:flexbox;
justify-self:left;
height: 100%;
width: 70%;
border-color: var(--c4);
background-color: var(--c1);

}
/*
#coding{
}

#management{
}

#about{
}

#contact{
}
*/
aside{
    display:flexbox;
    flex:auto;
    overflow: hidden;
    width: 30%;
    height: 100%;
    background-color:red;
    -ms-flex-line-pack: stretch;
}
footer{
    display:flex;
    justify-content:center;
    min-height:3.3vw;
    min-width:10vw; 
    background-color: var(--c2);
    align-content: center;
    position: relative;
}